# Python
__pycache__/
*.pyc
*.pyo
*ipynb

# Virtual environments
venv/
.env/

# Data and outputs
training_data/
outputs/
*.h5
*.npy

# IDE files
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# debugging files

*dbg*